* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pencil {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pencil > div {
    height: 5rem;
    border: 1px solid black;
}

.eraser {
    background-color: pink;
    width: 5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.ferrule {
    background-color: gainsboro;
    width: 5rem;
}

.barrel {
    background-color: yellow;
    width: 30rem;
}

.chopped-part {
    background-color: blanchedalmond;
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
}

.point {
    background-color: black;
    width: 5rem;
}