* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rocket{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rocket-body-row {
    display: flex;
    align-items: end;
}

.nose-cone {
    width: 0;
    height: 0;
    border-left: 82.5px solid transparent;
    border-right: 82.5px solid transparent;
    border-bottom: 126px solid #0201fd;
}

.rockets-body {
    width: 165px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background-color: red;
    border: 3px solid black;
    padding: 27.5px;
}

.left-ailerons {
    width: 0;
    height: 0;
    border-left: 85px solid transparent;
    border-bottom: 150px solid #0201fd;
}

.right-ailerons {
    width: 0;
    height: 0;
    border-right: 85px solid transparent;
    border-bottom: 150px solid #0201fd;
}

.fire-row {
    display: flex;
    margin-top: -3px;
}

.fire{
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 88.5px solid yellow;
    rotate: 180deg;
}

.window {
    width: 53.7px;
    height: 53.7px;
    background-color: yellow;
    border-radius: 100%;
    border: 3px solid black;
}