* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0b032d;
}

.tree{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-crown{
    width: 0;
    height: 0;
    border-left: 142.99px solid transparent;
    border-right: 142.99px solid transparent;
    border-bottom: 143.3px solid #229007;
}

.second-crown{
    width: 428px;
    height: 0;
    border-left: 125.6px solid transparent;
    border-right: 125.6px solid transparent;
    border-bottom: 101px solid #229007;
}

.third-crown{
    width: 572px;
    height: 0;
    border-left: 155.2px solid transparent;
    border-right: 155.2px solid transparent;
    border-bottom: 116.8px solid #229007;
}

.trunk {
    background-color: #d2691e;
    width: 99px;
    height: 216px;
}